<!DOCTYPE html>
{% extends 'project/nevbar.html' %}
{% block contact %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
   <!-- Favicons -->
  <link href="{% static 'project/img/favicon.png' %}" rel="icon">
  <link href="{% static 'project/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link  href="{% static 'project/css/bootstrap.min.css' %}" rel="stylesheet">
   <link  href="{% static 'project/css/bootstrap-icons.css' %}" rel="stylesheet">
   <link  href="{% static 'project/css/boxicons.min.css' %}" rel="stylesheet">
   <link  href="{% static 'project/css/glightbox.min.css' %}" rel="stylesheet">
   <link  href="{% static 'project/css/swiper-bundle.min.css' %}" rel="stylesheet">


  <!-- Template Main CSS File -->
   <link  href="{% static 'project/css/style.css' %}" rel="stylesheet">
</head>
<body>
<!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>

        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="row">

              <div class="col-md-12">
                <div class="info-box">
                  <!-- -->
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
  <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
  <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
</svg>
                  <h3>Our Address</h3>
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7265.233850195532!2d39.6615128808364!3d24.429372532667486!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe094c52ae0da324d!2z2KzYp9mF2LnYqSDYp9mE2KPZhdmK2LEg2YXZgtix2YYg2KjZhiDYudio2K_Yp9mE2LnYstmK2LIgLSDZgtiz2YUg2KfZhNi32KfZhNio2KfYqg!5e0!3m2!1sar!2ssa!4v1620259541804!5m2!1sar!2ssa"
                          width="400" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>


                  <p></p>
                </div>
              </div>

              <div class="col-md-6">
                <div class="info-box mt-4">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
  <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
</svg>
                  <h3>Email Us</h3>
                  <p><a href="mailto:DMR.ACADEMIA@edu.sa" class="__cf_email__" data-cfemail="deb7b0b8b19ebba6bfb3aeb2bbf0bdb1b3">[DMR.ACADEMIA@ude.sa]</a>
                      <br>
                      <a href="mailto:MDR.TIME@edu.sa" class="__cf_email__" data-cfemail="96f5f9f8e2f7f5e2d6f3eef7fbe6faf3b8f5f9fb">[MDR.TIME@edu.sa]</a>
                  </p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
  <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
</svg>
                  <h3>Call Us</h3>
                  <p>+920001000<br>+96653333333</p>
                </div>
              </div>
            </div>

          </div>


           <div class="col-lg-6">
                <!--Grid column-->

                <div class="section-title contact-form">
                    <div class="info-box" >



   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-right-text" viewBox="0 0 16 16">
  <path d="M2 1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h9.586a2 2 0 0 1 1.414.586l2 2V2a1 1 0 0 0-1-1H2zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12z"/>
  <path d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6zm0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
</svg>
                            <h3 style="text-align: center">contact Us</h3>
                        <button type="button" class="btn btn-outline-warning btn-lg " >  <a href="/contacts/"> click to contacts us</a></button>



                </div>

            </div>

        </div>
      </div>

      </div>
    </section><!-- End Contact Section -->

</body>
</html>
{% endblock contact %}