{% extends 'project/nevbar.html' %}

{% block contact %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <!-- Favicons -->
  
  
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link  href="{% static 'project/css/bootstrap.min.css' %}" rel="stylesheet">
     <link  href="{% static 'project/css/bootstrap-icons.css' %}" rel="stylesheet">
     <link  href="{% static 'project/css/boxicons.min.css' %}" rel="stylesheet">
     <link  href="{% static 'project/css/glightbox.min.css' %}" rel="stylesheet">
     <link  href="{% static 'project/css/swiper-bundle.min.css' %}" rel="stylesheet">
  
  
    <!-- Template Main CSS File -->
     <link  href="{% static 'project/css/style.css' %}" rel="stylesheet">
  
    <title>Compiler</title>
</head>
<body>
    
    <br><br><br<br><br><br<br><br><br><br>
    <div class="jumbotron">  
        <h3 class="display-4" style="padding-left: 35%;padding-bottom: 5%;padding-top: 5%;">C# Compiler</h3>
        <iframe frameborder="0" width="100%" height="500px" src="https://repl.it/@farhanaurmi/compiler?lite=true"></iframe>
    
    </div>

</body>
</html>
{% endblock contact %}